.board {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  margin-bottom: 10px;
}

.square {
  border: 1px solid steelblue;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  color: steelblue;
}

.restart {
  padding: 15px;
  width: 180px;
  color: #fff;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  margin-top: 10px;

  &:hover {
    color: #000;
    background-color: skyblue;
    cursor: pointer;
  }
}


