.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.square {
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
